input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightgrey;
}

.fire_button {
  border: 2px solid #eb9e34;
  background-color: white;
  padding: 10px 24px;
  width: 100px;
}

.tornado_button {
  border: 2px solid #c730e6;
  background-color: white;
  padding: 10px 24px;
  width: 100px;
}

.landslide_button {
  border: 2px solid #7d4b00;
  background-color: white;
  padding: 10px 24px;
  width: 100px;
}

.meteor_button {
  border: 2px solid #737373;
  background-color: white;
  padding: 10px 24px;
  width: 100px;
}

.fire_button:hover {
  background-color: #eb9e34;
  border: 2px solid #FFFFFF;
  color: white;
}

.tornado_button:hover {
  background-color: #c730e6;
  border: 2px solid #FFFFFF;
  color: white;
}
.landslide_button:hover {
  background-color: #7d4b00;
  border: 2px solid #FFFFFF;
  color: white;
}
.meteor_button:hover {
  background-color: #737373;
  border: 2px solid #FFFFFF;
  color: white;
}

.submit {
  border: 2px solid blue;
  background-color: white;
  color: black;
  padding: 10px 24px;
  width: 100px;
}

.submit:hover {
  background-color: blue;
  border: 2px solid #FFFFFF;
  color: white;
}

body {
  background-color: #171717;
}

#header-main {
  color: white;
}

h1 {
  font-family: "Papyrus";
}

p {
  font-family: "Papyrus";
  color:white;
}

a {
  font-family: "Papyrus";
}