#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    background-color: grey;
}

body {
  background-color: #171717;
}

#header-main {
  color: white;
}

.display {
  border: 2px solid blue;
  background-color: white;
  color: black;
  padding: 10px 24px;
  width: 100px;
}

.display:hover {
  background-color: blue;
  border: 2px solid #FFFFFF;
  color: white;
}

.checkboxes {
	padding: 18px;
}

.checkboxes:checked:after {
	font-size: 28px;
	left: 6px;
}

h1 {
  font-family: "Papyrus"
}

.label {
  font-family: "Papyrus";
  color: white;
}

a {
  font-family: "Papyrus";
}

p {
  font-family: "Papyrus";
}