#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    background-color: grey;
}

body {
  background-color: #171717;
}

#header-main {
  color: white;
}

.display {
  border: 2px solid blue;
  background-color: white;
  color: black;
  padding: 10px 24px;
  width: 100px;
}

.display:hover {
  background-color: blue;
  border: 2px solid #FFFFFF;
  color: white;
}

h1 {
  font-family: "Papyrus"
}

.cluster_img {
  width: 700px;
  height: auto;
}

#fireImg {
  align-self: auto;
}

#tornadoImg {
  align-self: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-family: "Papyrus";
}

.label {
  font-family: "Papyrus";
  color: white;
}
